body{
    margin:0;
    padding:0;
    padding-bottom: 50px;
}
.shadowme{
    box-shadow: 2px 2px 15px rgba(0,0,0,.8);
}
.header-parent{
    min-height: 100vh; 
    background: url('./../images/background.png');
    background-size:100% 100% ;
}
.header h1{
    font-size: 6.5vw;
    transition: top 2s, left 2s, right 2s, border 1s ease-in-out;
    font-family: 'Reggae One', cursive;
}
.header .h11{ position: absolute; top: 30vh; left: 28%; padding: 5px; border-radius:15px; }
.header .h12{ position: absolute; top: 10vh; right: 50%;  }
.header .h13{ position: absolute; top: 47vh; left: 10%;  }
.header .h14{ position: absolute; top: 65vh; right: 20%;  }

img{
    height: 50px;
    transition: top 2s, left 2s, right 2s;
}
.header .cursor1{  position: absolute; top: 30vh; left: 27.5%; }
.header .cursor2{  position: absolute; top: -6vh; right: 0%; }
.header .cursor3{  position: absolute; top: 48vh; left: -10%; }
.header .cursor4{  position: absolute; top: 45vh; right: 0%; }

/* Services  */

.services{
    min-height: 100vh; 
    position: absolute;
    top: 85vh;
    padding-bottom: 20px;
}

.services .bgimg{
    display:block;
}

.services .bgimg2{
    display: none;
}
.services .bgimg{
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    z-index: -1;
}

.services h5{
    margin-top: 20vh;
}

.services .uline{
    width: 400px;
    height: 10px;
    background: #993AE6;
}

.plans .card{
    background: #242424;
    border-radius: 12px;
    padding: 10%;
}

.bg-basic{
    background:#FF5678;
    width: 60%;
}
.bg-premium{
    background:#584CFF;
    width: 60%;
}
.bg-ultimate{
    background:#FF0000;
    width: 60%;
}
.bg-delux{
    background:#EECC18;
    width: 60%;
}

.plans .card .btn{
    font-size: 16px;
    padding: 0px;
    border-radius:5px;
}

.plans .title{
    font-size: 20px;
}
.plans .details{
    line-height: 10px;
}
.plans .details small{
    font-size: 10px;
    color: rgb(173, 173, 173);
}

.plans .i-icon{
    width: 100px;
    height: 100px;
}

.plans .img img{
    height: 50vh;
}

/* Digital Marketing  */

.digitalMarketing{
    min-height: 100vh; 
    position: absolute;
    top: 178vh;
}

.digitalMarketing .bgimg{
    display:block;
}

.digitalMarketing .bgimg2{
    display: none;
}
.digitalMarketing .bgimg{
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    z-index: -1;
}

.digitalMarketing .data{
    margin-top: 25vh;
    text-shadow: 0px 2px 5px rgba(0,0,0,.6);
}
.digitalMarketing .data h1{
    font-size: 3.7vw;
}

.digitalMarketing .data input{
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.8em;
    color: #4C0096;
}

/* Web designing */


.webDesigning{
    min-height: 190vh; 
    position: absolute;
    top: 280vh;
    padding-bottom: 50px;
}

.webDesigning .secondhead{
    margin-top: 5vh;
    font-size: 3vw;
}
.webDesigning .bgimg{
    display:block;
}

.webDesigning .bgimg2{
    display: none;
}

.webDesigning .bgimg{
    position: absolute;
    width: 100%;
    height: 200vh;
    left: 0;
    z-index: -1;
}
.webDesigning input{
    font-size: 2em;
    border-radius: 30px;
    margin-top: 10px;
}
.webDesigning .i-img{
    margin-top: 5vh;
    height: 45vh;
}

.webDesigning h5{
    font-size: 1.6em;
    margin-top: 20px;
}
.webDesigning  .h55{
    background: rgba(150, 28, 231, 0.5);
    color: snow;
    margin-top: 10vh;
    padding: 15px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
}
.webDesigning .uline{
    width: 400px;
    height: 10px;
    background: #76D0EC;
}

.webDesigning .cup{
    border-radius: 50px;
    background:  #9A00B3;
    font-size: 2.5em;
}

/* Content Writing */


.contentWriting{
    min-height: 100vh; 
    position: absolute;
    top: 470vh;
}

.contentWriting .bgimg{
    display:block;
}

.contentWriting .bgimg2{
    display: none;
}
.contentWriting .bgimg{
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    z-index: -1;
}

.contentWriting .data{
    margin-top: 25vh;
    text-shadow: 0px 2px 5px rgba(0,0,0,.6);
}
.contentWriting .data h1{
    font-size: 3.7vw;
}

.contentWriting .data input{
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.8em;
    color: #4C0096;
}

.contentWriting .reading{
    margin-top: 5vh;
    height: 250px;
    width: 350px;
}

/* Graphics */


.graphics{
    min-height: 100vh; 
    position: absolute;
    top: 570vh;
}

.graphics .bgimg{
    display:block;
}

.graphics .bgimg2{
    display: none;
}
.graphics .bgimg{
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    z-index: -1;
}

.graphics .data{
    margin-top: 7vh;
}

.graphics .data h1{
    font-size: 3.7vw;
}

.graphics .data h5{
    background: rgba(150, 28, 231, 0.8);
    color: snow;
    margin-top: 10vh;
    padding: 15px 5px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
}

.graphics .logos img{
    width: 200px;
    height: 200px;   
}

.graphics .cup{
    border-radius: 50px;
    background:  #2f89ff;
    font-size: 2em;
}

/* Email Marketing  */
.emailMarketing{
    min-height: 125vh; 
    position: absolute;
    top: 650vh;
}

.emailMarketing .bgimg{
    display:block;
}

.emailMarketing .bgimg2{
    display: none;
}
.emailMarketing .bgimg{
    position: absolute;
    width: 100%;
    height: 125vh;
    left: 0;
    z-index: -1;
}

.emailMarketing .data{
    margin-top: 30vh;
    padding: 10vh 10% ;
    color: snow;
    background: linear-gradient(275.32deg, #2E3CC0 4.65%, rgba(79, 104, 234, 0.8) 95.17%);
    box-shadow: 0px 4px 40px #02DFA4;
    border-radius: 20px;
    transition: all 1s ease-out;
}
.emailMarketing .data:hover{
    box-shadow: 0px 4px 40px #584CFF;
    transition: all 1s ease-in;
    
}
.emailMarketing .data h1{
    font-size: 3.7vw;
}
.emailMarketing .data h5{
    margin-top: 5vh;
}

.emailMarketing .data span{
    color: #02DFA4;
}

.emailMarketing .data .cup{
    background: #02DFA4;
    font-size: 2.5vw;
    border-radius: 40px;   
}

/* Animation  */

.animation{
    min-height: 140vh; 
    position: absolute;
    top: 760vh;
}

.animation .bgimg{
    display:block;
}

.animation .bgimg2{
    display: none;
}
.animation .bgimg{
    position: absolute;
    width: 100%;
    height: 140vh;
    left: 0;
    z-index: -1;
}

.animation .data{
    margin-top: 20vh;
    color: snow;
}
.animation .data h1{
    font-size: 7vw;
    text-shadow: 0 1px 20px rgba(0, 0, 0, .5);
}

.animation .data .d-flex{
    margin-top:10vh;
}
.animation .data .d-flex img{
    height: 150px;
}
.animation .data .anima-card{
    padding: 5vh 5%;
    box-shadow: 0px 1px 15px rgba(81, 235, 255, 0.596);
    border-radius: 10px;
}
.animation .data .cup{
    background: #f74747;
    font-size: 2.5vw;
    border-radius: 40px;   
    margin-top: 10vh;
}